*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
}

.container{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 4px solid rgb(167, 161, 153);
    border-radius: 5px;
}

.screen{
    display: flex;
    flex-direction: column;
}

.buttonsMap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.lastOperation{
    height: 1em;
}

.currentOperation{
    max-height: 1em;
}
button{
    padding: 1em;
}